// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

body {
  text-align: center;
}

#title{
  margin-top: 5em;

  h1 {
  font-size: 5em;
  font-family: 'Architects Daughter', cursive;
  }

  img {
     position: relative;
     top: -14em;
     right: -18em;
     height: 10em;
  }

}

#search{
  margin-top: -12em;

  input[type="text"] {
    width: 35em;
  }

  input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #f9eca0;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f9eca0;
    box-shadow: inset 0px 1px 0px 0px #f9eca0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fcd438), color-stop(1, #f2ab1e));
    background: -moz-linear-gradient(center top, #f0c911 5%, #f2ab1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
    background-color: #fcd438;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 1px solid #e65f44;
    display: inline-block;
    color: #c92200;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    height: 2em;
    line-height: 1em;
    width: 7em;
    text-decoration: none;
    text-align: center;
    margin-top: .5em;
  }

}

#results {
  width: 55%;
  margin: 2em auto;
  text-align: left;

  h3 {
    font-size: 2em;
    font-family: 'Architects Daughter', cursive;
  }
}

#error {
  margin-top: .5em;
}
